<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'app/fontawesome/fontawesome-free-5.14.0-web/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'app/fontawesome/fontawesome-free-5.14.0-web/css/fontawesome.min.css' %}">
        <script src="{% static 'app/JS/jQuery.js' %}"></script>
        <script src="{% static 'app/JS/popper.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'app/CSS/bootstrap.min.css' %}">
        <script src="{% static 'app/JS/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'app/CSS/style.css' %}">
        <script src="{% static 'app/JS/style.js' %}"></script>

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/logo/logo.ico' %}" />
        <title>شایان مارکت</title>
    </head>
    <body>
        <div class="container shadow" id="created_acont_page">
            <h1>به فروشگاه اینترنتی شایان مارکت خوش آمدید.</h1>
            <h3>اطلاعات حساب کاربری شما با موفقیت ثبت گردید.</h3>
            <a class="btn rounded-pill" href="{% url 'app:home' %}" id="home_btn" >صفحه اصلی فروشگاه</a>
            <a class="btn rounded-pill" href="{% url 'app:acount' %}" id="acount_btn" >ورود به حساب کاربری</a>
        </div>
    </body>
</html>